@page "/categoryCreate"
@* @rendermode InteractiveServer *@
@using BlazorAppCustomer.Model.Category
@using BlazorAppCustomer.Service.CategoryService
@inject CategoryService CategoryService
@inject NavigationManager Navigation

<div class="d-flex justify-content-center mt-5">
    <div class="card shadow-lg p-4" style="width: 400px;">
        <h3 class="text-center text-primary">Add New Category</h3>

        <div class="mb-3">
            <label for="categoryName" class="form-label fw-semibold">Name:</label>
            <input type="text" class="form-control" id="categoryName" @bind="categoryName" 
            placeholder="Enter category name"/>
        </div>

        <div class="mb-3">
            <label for="categoryImage" class="form-label fw-semibold">Image: </label>
            <InputFile OnChange="HandleFileSelected" class="form-control"/>
        </div>

        <div class="d-flex justify-content-between gap-2 mt-3">
            <button class="btn btn-secondary w-50" @onclick="Cancel">Cancel</button>
            <button class="btn btn-primary w-50" @onclick="InsertCategory">Save</button>
        </div>
    </div>
</div>


@if (!string.IsNullOrEmpty(message))
{
    <p class="text-success">@message</p>
}

