<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
        <a class="navbar-brand" href="/">Trang Chủ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dienthoai">Điện Thoại</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/laptop">Laptop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/phukien">Phụ Kiện</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/giohang">Giỏ Hàng</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    // Add any required code-behind logic here
} 