@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <div class="logo-container">
            <img src="/images/logo.png" alt="Logo" class="logo" />
        </div>
        <NavMenu />
    </div>

    <main>
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>

<style>
    .page {
        display: flex;
        height: 100vh;
    }

    .sidebar {
        background-color: #C41E3A;
        color: white;
        width: 250px;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
    }

    .logo-container {
        padding: 1rem;
        text-align: center;
        background-color: #B01B34;
    }

    .logo {
        max-width: 150px;
        height: auto;
    }

    main {
        margin-left: 250px;
        padding: 1rem;
        width: 100%;
    }

    .content {
        padding-top: 1.1rem;
    }
</style> 