@page "/dienthoai"

<PageTitle>Điện Thoại</PageTitle>

<div class="container">
    <h2 class="mt-4 mb-4">Điện Thoại Nổi Bật</h2>
    
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card text-center">
                <img src="images/iphone-15-pro-max.jpg" class="card-img-top" alt="iPhone 15 Pro Max">
                <div class="card-body">
                    <h5 class="card-title">iPhone 15 Pro Max</h5>
                    <p class="card-text">Giá: 29.990.000 VND</p>
                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 mb-4">
            <div class="card text-center">
                <img src="images/samsung-galaxy-s23.jpg" class="card-img-top" alt="Samsung Galaxy S23">
                <div class="card-body">
                    <h5 class="card-title">Samsung Galaxy S23</h5>
                    <p class="card-text">Giá: 22.990.000 VND</p>
                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    // Add any required code-behind logic here
} 