@page "/laptop"

<PageTitle>Laptop</PageTitle>

<div class="container">
    <h2 class="mt-4 mb-4">Laptop Nổi Bật</h2>
    
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="images/macbook-air-m2.jpg" class="card-img-top" alt="MacBook Air M2">
                <div class="card-body">
                    <h5 class="card-title">MacBook Air M2</h5>
                    <p class="card-text text-danger fw-bold">27.990.000₫</p>
                    <ul class="list-unstyled">
                        <li><small>Chip Apple M2</small></li>
                        <li><small>RAM 8GB</small></li>
                        <li><small>SSD 256GB</small></li>
                    </ul>
                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="images/dell-xps-13.jpg" class="card-img-top" alt="Dell XPS 13">
                <div class="card-body">
                    <h5 class="card-title">Dell XPS 13</h5>
                    <p class="card-text text-danger fw-bold">32.990.000₫</p>
                    <ul class="list-unstyled">
                        <li><small>Intel Core i7 Gen 12</small></li>
                        <li><small>RAM 16GB</small></li>
                        <li><small>SSD 512GB</small></li>
                    </ul>
                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="images/lenovo-thinkpad-x1.jpg" class="card-img-top" alt="Lenovo ThinkPad X1">
                <div class="card-body">
                    <h5 class="card-title">Lenovo ThinkPad X1</h5>
                    <p class="card-text text-danger fw-bold">34.990.000₫</p>
                    <ul class="list-unstyled">
                        <li><small>Intel Core i7 Gen 12</small></li>
                        <li><small>RAM 16GB</small></li>
                        <li><small>SSD 1TB</small></li>
                    </ul>
                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    // Add any required code-behind logic here
} 